body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.content {
    max-width: 900px;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.dados, .cartao {
    width: 100%;
}

.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-cartao, .safe-info {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    background-color: #9333EA;
    color: white;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

button:hover {
    background-color: #A855F7;
}

button:focus {
    border: 3px solid #fff;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="number"] {
    background-color: #111827;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 2px solid #373b44;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}


input[type="text"]:hover,
input[type="number"]:hover {
    border-color: #5b5e64;
    outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #9333EA;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.vali-cvv {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .top {
        flex-direction: row;
        justify-content: space-between;
    }

    .dados, .cartao {
        width: 48%;
    }

    .vali-cvv {
        flex-direction: row;
        justify-content: space-between;
    }

    .validade, .cvv {
        width: 48%;
    }
}
